.mr-auto{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toast.show {
    width: 315px;
}
.text_wrapper{
word-wrap: break-word;
}
.rounded .toast-header{
    background-color: #91c0f1;
}
.title{
    font-size: 16px;
    text-transform: capitalize;
}